* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

*::before {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.code-wrapper{
  padding:16px;
}
#code{
  overflow: hidden;
  height: 100%;
}

.actions{
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}
.actions button{
  padding: 6px 10px;
  margin: 5px 0;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.actions button.active{
  box-shadow:  1px 1px 2px rgba(0, 0, 0, 0.8);
  color: white;
  border: rgb(40, 108, 255);
  font-weight: bold;
  background: rgb(40, 108, 255);
}
.actions button:focus{
  outline: none;
}